body{
    align-content: center;
}
thead.header{
    text-align: center;
}
table{
    width: 50%;
    margin: auto;
    border: 2px solid #000;
    border-collapse: collapse;
    table-layout: fixed;
}
thead,td{
    padding: 10px;
    text-align: center;
}
td{
    border: 1px solid black;
}
td.third-col{
    text-align: justify;
}
#about{
    text-align: center;
}