body{
    align-content: center;
}
thead.header{
    text-align: center;
    cursor: pointer;
}
table{
    width: 50%;
    margin: auto;
    border-spacing: 0;
}
thead,td{
    padding: 10px;
    text-align: center;
}
td{
    border: 1px solid black;
}
.third-col{
    text-align: start;
    height: 20px;
    overflow: hidden;
    padding-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.edit{
    border: none;
    width: 20px;
}
#about{
    text-align: center;
}
.pagination{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}
.pagination li{
    margin-right: 5px;
    padding: 10px;
    border: 1px solid black;
}
.pagination li:hover{
    cursor: pointer;
    color: red;
    border: 1px solid red;
}
img{
    height: 20px;
}